*.gch
*.o
*.exe
*.txt

!'Goorb code 1/users.txt'
!'Goorb code 1/pass.txt'
!'Goorb code 1/saved_login.txt'
!'Goorb code 1/.txt'
!'Goorb code 1/rankinginfinite.txt'
!'Goorb code 1/rankingtimer.txt'
!'Goorb code 1/rankingnormal.txt'
!'Goorb code 1/ranking.txt'

'Goorb encode 1'/bank/*
'Goorb encode 1'/bots/*/*
'Goorb encode 1'/messages/*